<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/10/nuspec.xsd">
    <metadata>
        <id>Xbim.Exchange</id>
        <version>{{version}}</version>
        <title>xBIM Exchange</title>
        <authors>xBIM Team</authors>
        <owners>xBIM Team</owners>
        <licenseUrl>https://raw.githubusercontent.com/xBimTeam/XbimExchange/master/LICENCE.md</licenseUrl>
        <projectUrl>https://github.com/xBimTeam/</projectUrl>
        <iconUrl>https://avatars1.githubusercontent.com/u/2284875?v=3&amp;s=240</iconUrl>
        <requireLicenseAcceptance>true</requireLicenseAcceptance>
        <description>[Obsolete] Please install either Xbim.COBie or XBIM.Exchanger instead
        
		This is a meta-package for backward compatibility only.</description>
        <summary></summary>
        <releaseNotes>
         v5.0 support the latest Xbim.Essentials 5.0
        </releaseNotes>
        <language>en-GB</language>
      <tags>BIM, IFC, IfcXml, IfcZip, COBie, COBieLite, .Net, C#, BuildingSmart</tags>
      <dependencies>
	    <dependency id="Xbim.COBie" version="{{version}}" />
        <dependency id="Xbim.CobieLiteUK.Validation" version="{{version}}" />
        <dependency id="Xbim.Exchanger" version="{{version}}" />
      </dependencies>
    </metadata>
	<files/>
  </package>
