<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PropertySetMaps" type="System.Configuration.AppSettingsSection" />
    <section name="IfcTypeMaps" type="System.Configuration.AppSettingsSection" />
    <section name="IfcInstanceMaps" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <PropertySetMaps>
    <add key="Uniclass2|Pr_60_60_13_*|Capacity" value="Pset_ChillerTypeCommon|NominalCapacity|IfcPowerMeasure"/>
    <add key="Uniclass2|Sp_*" value="Pset_SpaceCommon|Category|IfcLabel"/>
  </PropertySetMaps>
  <IfcTypeMaps>
    <add key="Uniclass2|Pr_60_60_13_*" value="IfcChillerType"/>
    <add key="Uniclass2|Sp_*" value="IfcSpaceType"/>
  </IfcTypeMaps>
  <IfcInstanceMaps>
    <add key="Uniclass2|Pr_60_60_*" value="IfcEnergyConversionDevice"/>
    <add key="Uniclass2|Sp_*" value="IfcSpace"/>
  </IfcInstanceMaps>
</configuration>