<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CommonPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SpacePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="FloorPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetTypePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SystemPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SparePropertyMaps" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <CommonPropertyMaps>
    <add key="CommonCreatedBy" value="Other.COBieCreatedBy"/>
    <add key="CommonCreatedOn" value="Other.COBieCreatedOn"/>
    <add key="CommonDescription" value="Other.COBieDescription"/>
    <add key="CommonExtSystem" value="Other.COBieExtSystem"/>
    <add key="CommonCategory" value="PSet_Revit_Identity Data.OmniClass Table 13 Category"/>
    <add key="CommonCategoryCode" value="PSet_Revit_Type_Identity Data.OmniClass Number;PSet_Revit_Type_Other.Classification Code;PSet_Revit_Other.Category Code;PSet_Revit_Type_Identity Data.Assembly Code"/>
    <add key="CommonCategoryDescription" value="PSet_Revit_Type_Identity Data.OmniClass Title;PSet_Revit_Type_Other.Classification Description;PSet_Revit_Other.Category Description;PSet_Revit_Type_Identity Data.Assembly Description"/>
  </CommonPropertyMaps>
  <SpacePropertyMaps>
    <add key="SpaceGrossAreaValue" value="qto_SpaceBaseQuantities.GrossFloorArea;Pset_BaseQuantities.GrossFloorArea;BaseQuantities.GrossFloorArea;Pset_SpaceCommon.GrossPlannedArea"/>
    <add key="SpaceNetAreaValue" value="qto_SpaceBaseQuantities.NetFloorArea;Pset_BaseQuantities.NetFloorArea;BaseQuantities.NetFloorArea;Pset_SpaceCommon.NetPlannedArea"/>
    <add key="SpaceUsableHeightValue" value="qto_SpaceBaseQuantities.NetHeight;qto_SpaceBaseQuantities.FinishCeilingHeight;Pset_SpaceCommon.UsableHeight;Dimensions.UsableHeight"/>
    <add key="SpaceSignageName" value="COBie_Space.RoomTag;Pset_SpaceCommon.Reference;Pset_SpaceCommon.RoomTag"/>    
  </SpacePropertyMaps>
  <FloorPropertyMaps>
    <add key="FloorHeightValue" value="Qto_BuildingStoreyBaseQuantities.NettHeight;BaseQuantities.NominalHeight"/>    
  </FloorPropertyMaps>
  <AssetPropertyMaps>
    <add key="AssetDescription" value="Other.NBSDescription"/>
    <add key="AssetSerialNumber" value="Pset_ManufacturerOccurrence.SerialNumber;Pset_Component.SerialNumber;Other.SerialNumber"/>
    <add key="AssetInstallationDate" value="COBie_Component.InstallationDate;Pset_Component.InstallationDate;Other.InstallationDate"/>
    <add key="AssetInstalledModelNumber" value="COBie_Component.InstalledModelNumber;Pset_Component.InstalledModelNumber"/>
    <add key="AssetWarrantyStartDate" value="COBie_Component.WarrantyStartDate;Pset_Component.WarrantyStartDate;Other.WarrantyStartDate"/>
    <add key="AssetStartDate" value="COBie_Component.StartDate;Pset_Component.StartDate"/>
    <add key="AssetTagNumber" value="COBie_Component.TagNumber;Pset_Component.TagNumber;Other.TagNumber"/>
    <add key="AssetBarCode" value="Pset_ManufacturerOccurrence.BarCode;COBie_Component.BarCode;Pset_Component.BarCode;Other.BarCode"/>
    <add key="AssetIdentifier" value="COBie_Component.AssetIdentifier;Pset_Component.AssetIdentifier;Other.AssetIdentifier"/>
    <add key="AssetLocationDescription" value="COBie_Component.LocationDescription;Pset_Component.LocationDescription"/>
    <add key="AssetAcquisitionDate" value="Pset_ManufacturerOccurrence.AcquisitionDate"/>
    <add key="AssetBatchReference" value="Pset_ManufacturerOccurrence.BatchReference"/>
    <add key="AssetAssemblyPlace" value="Pset_ManufacturerOccurrence.AssemblyPlace"/>
  </AssetPropertyMaps>
  <AssetTypePropertyMaps>
    <add key="AssetTypeAccountingCategory" value="COBie_ElementType.AssetType;COBie_Asset.AssetType;Pset_Asset.AssetAccountingType;Other.AssetType"/>
    <add key="AssetTypeDurationUnit" value="Other.DurationUnit"/>
    <add key="AssetTypeModelNumber" value="Pset_ManufacturerTypeInformation.ModelLabel;Other.ModelNumber"/>
    <add key="AssetTypeModelReference" value="Pset_ManufacturerTypeInformation.ModelReference;Other.ModelReference"/>
    <add key="AssetTypeReplacementCostValue" value="COBie_ElementType.ReplacementCost;COBie_EconomicImpactValues.ReplacementCost;Pset_EconomicImpactValues.Cost;Other.ReplacementCost"/>
    <add key="AssetTypeExpectedLifeValue" value="Pset_ServiceLife.ServiceLifeDuration;COBie_ServiceLife.ServiceLifeDuration;Other.ServiceLifeDuration"/>
    <add key="AssetTypeNominalLength" value="COBie_ElementType.NominalLength;COBie_Specification.NominalLength;Pset_Specification.NominalLength;Other.NominalLength"/>
    <add key="AssetTypeNominalWidth" value="COBie_ElementType.NominalWidth;COBie_Specification.NominalWidth;Pset_Specification.NominalWidth;Other.NominalWidth"/>
    <add key="AssetTypeNominalHeight" value="COBie_ElementType.NominalHeight;COBie_Specification.NominalHeight;Pset_Specification.NominalHeight;Other.NominalHeight"/>
    <add key="AssetTypeAccessibilityText" value="COBie_ElementType.AccessibilityPerformance;COBie_Specification.AccessibilityPerformance;Pset_Specification.AccessibilityPerformance;Other.AccessibilityPerformance"/>
    <add key="AssetTypeColorCode" value="COBie_ElementType.Color;COBie_Specification.Colour;COBie_Specification.Color;Pset_Specification.Colour;Pset_Specification.Color;Other.Colour;Other.Color"/>
    <add key="AssetTypeConstituentsDescription" value="COBie_ElementType.Constituents;COBie_Specification.Constituents;Pset_Specification.Constituents;Other.Constituents"/>
    <add key="AssetTypeFeaturesDescription" value="COBie_ElementType.Features;COBie_Specification.Features;Pset_Specification.Features;Other.Features"/>
    <add key="AssetTypeFinishDescription" value="COBie_ElementType.Finish;COBie_Specification.Finish;Pset_Specification.Finish;Other.Finish"/>
    <add key="AssetTypeGradeDescription" value="COBie_ElementType.Grade;COBie_Specification.Grade;Pset_Specification.Grade;Other.Grade"/>
    <add key="AssetTypeMaterialDescription" value="COBie_ElementType.Material;COBie_Specification.Material;Pset_Specification.Material;Other.Material"/>
    <add key="AssetTypeShapeDescription" value="COBie_ElementType.Shape;COBie_Specification.Shape;Pset_Specification.Shape;Other.Shape"/>
    <add key="AssetTypeSizeDescription" value="COBie_ElementType.Size;COBie_Specification.Size;Pset_Specification.Size;Other.Size"/>
    <add key="AssetTypeSustainabilityPerformanceDescription" value="COBie_ElementType.SustainabilityPerformance;COBie_Specification.SustainabilityPerformance;Pset_Specification.SustainabilityPerformance;Other.SustainabilityPerformance"/>
    <add key="AssetTypeAssemblyPlace" value="Pset_ManufacturerTypeInformation.AssemblyPlace;Other.AssemblyPlace"/>
    <add key="AssetTypeGlobalTradeItemNumber" value="Pset_ManufacturerTypeInformation.GlobalTradeItemNumber;Other.GlobalTradeItemNumber"/>
    <add key="AssetTypeArticleNumber" value="Pset_ManufacturerTypeInformation.ArticleNumber;Other.ArticleNumber"/>
    <add key="AssetTypeManufacturer" value="Pset_ManufacturerTypeInformation.Manufacturer;Other.Manufacturer"/>
    <add key="AssetTypeProductionYear" value="Pset_ManufacturerTypeInformation.ProductionYear;Other.ProductionYear"/>
    <add key="AssetTypeCodePerformance" value="COBie_Specification.CodePerformance;Other.CodePerformance"/>    
    <add key="AssetTypeWarrantyDurationLabor" value="COBie_Warranty.WarrantyDurationLabor;Other.WarrantyDurationLabor"/>
    <add key="AssetTypeWarrantyDurationParts" value="COBie_Warranty.WarrantyDurationParts;Other.WarrantyDurationParts"/>
    <add key="AssetTypeWarrantyDurationUnit" value="COBie_Warranty.WarrantyDurationUnit;Other.WarrantyDurationUnit"/>
    <add key="AssetTypeWarrantyGuarantorLabor" value="COBie_Warranty.WarrantyGuarantorLabor;Other.WarrantyGuarantorLabor"/>
    <add key="AssetTypeWarrantyGuarantorParts" value="COBie_Warranty.WarrantyGuarantorParts;Other.WarrantyGuarantorParts"/>
    <add key="AssetTypeWarrantyDescription" value="COBie_Warranty.WarrantyDescription;Other.WarrantyDescription"/>    
  </AssetTypePropertyMaps>
  <SparePropertyMaps>
    <add key="SpareSuppliers" value="COBie_Spare.Suppliers"/>
    <add key="SpareSetNumber" value="COBie_Spare.SetNumber"/>
    <add key="SparePartNumber" value="COBie_Spare.PartNumber"/>
  </SparePropertyMaps>
<SystemPropertyMaps>
  <add key="SystemMaps" value="Electrical - Loads.Circuit Number;PSet_Revit_Electrical - Loads.Circuit Number;Mechanical.System Name;PSet_Revit_Mechanical.System Name;Mechanical.System Type;PSet_Revit_Mechanical.System Type"/>   
</SystemPropertyMaps>
</configuration>