<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="COBiePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="IfcElementInclusion" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <COBiePropertyMaps>
    <!--Space Attributes-->
    <add key="SpaceGrossAreaValue" value="qto_SpaceBaseQuantities.GrossFloorArea;Pset_BaseQuantities.GrossFloorArea;BaseQuantities.GrossFloorArea;Pset_SpaceCommon.GrossPlannedArea"/>
    <add key="SpaceNetAreaValue" value="qto_SpaceBaseQuantities.NetFloorArea;Pset_BaseQuantities.NetFloorArea;BaseQuantities.NetFloorArea;Pset_SpaceCommon.NetPlannedArea"/>
    <add key="SpaceUsableHeightValue" value="qto_SpaceBaseQuantities.NetHeight;qto_SpaceBaseQuantities.FinishCeilingHeight;Pset_SpaceCommon.UsableHeight;Dimensions.UsableHeight"/>
    <add key="SpaceSignageName" value="COBie_Space.RoomTag;Pset_SpaceCommon.Reference;Pset_SpaceCommon.RoomTag"/>
    <!--Floor Attributes-->
    <add key="FloorHeightValue" value="Qto_BuildingStoreyBaseQuantities.NettHeight;BaseQuantities.NominalHeight"/>
    <!--AssetType Attributes-->
    <add key="AssetTypeAccountingCategory" value="COBie_ElementType.AssetType;COBie_Asset.AssetType;Pset_Asset.AssetAccountingType;Other.AssetType"/>
    <add key="AssetTypeDurationUnit" value="Other.DurationUnit"/>
    <add key="AssetTypeModelNumber" value="Pset_ManufacturerTypeInformation.ModelLabel;Other.ModelNumber"/>
    <add key="AssetTypeModelReference" value="Pset_ManufacturerTypeInformation.ModelReference;Other.ModelReference"/>
    <add key="AssetTypeReplacementCostValue" value="COBie_ElementType.ReplacementCost;COBie_EconomicImpactValues.ReplacementCost;Pset_EconomicImpactValues.Cost;Other.ReplacementCost"/>
    <add key="AssetTypeExpectedLifeValue" value="Pset_ServiceLife.ServiceLifeDuration;COBie_ServiceLife.ServiceLifeDuration;Other.ServiceLifeDuration"/>
    <add key="AssetTypeNominalLength" value="COBie_ElementType.NominalLength;COBie_Specification.NominalLength;Pset_Specification.NominalLength;Other.NominalLength"/>
    <add key="AssetTypeNominalWidth" value="COBie_ElementType.NominalWidth;COBie_Specification.NominalWidth;Pset_Specification.NominalWidth;Other.NominalWidth"/>
    <add key="AssetTypeNominalHeight" value="COBie_ElementType.NominalHeight;COBie_Specification.NominalHeight;Pset_Specification.NominalHeight;Other.NominalHeight"/>
    <add key="AssetTypeAccessibilityText" value="COBie_ElementType.AccessibilityPerformance;COBie_Specification.AccessibilityPerformance;Pset_Specification.AccessibilityPerformance;Other.AccessibilityPerformance"/>
    <add key="AssetTypeColorCode" value="COBie_ElementType.Color;COBie_Specification.Colour;COBie_Specification.Color;Pset_Specification.Colour;Pset_Specification.Color;Other.Colour;Other.Color"/>
    <add key="AssetTypeConstituentsDescription" value="COBie_ElementType.Constituents;COBie_Specification.Constituents;Pset_Specification.Constituents;Other.Constituents"/>
    <add key="AssetTypeFeaturesDescription" value="COBie_ElementType.Features;COBie_Specification.Features;Pset_Specification.Features;Other.Features"/>
    <add key="AssetTypeFinishDescription" value="COBie_ElementType.Finish;COBie_Specification.Finish;Pset_Specification.Finish;Other.Finish"/>
    <add key="AssetTypeGradeDescription" value="COBie_ElementType.Grade;COBie_Specification.Grade;Pset_Specification.Grade;Other.Grade"/>
    <add key="AssetTypeMaterialDescription" value="COBie_ElementType.Material;COBie_Specification.Material;Pset_Specification.Material;Other.Material"/>
    <add key="AssetTypeShapeDescription" value="COBie_ElementType.Shape;COBie_Specification.Shape;Pset_Specification.Shape;Other.Shape"/>
    <add key="AssetTypeSizeDescription" value="COBie_ElementType.Size;COBie_Specification.Size;Pset_Specification.Size;Other.Size"/>
    <add key="AssetTypeSustainabilityPerformanceDescription" value="COBie_ElementType.SustainabilityPerformance;COBie_Specification.SustainabilityPerformance;Pset_Specification.SustainabilityPerformance;Other.SustainabilityPerformance"/>
    <add key="AssetTypeAssemblyPlace" value="Pset_ManufacturerTypeInformation.AssemblyPlace;Other.AssemblyPlace"/>
    <add key="AssetTypeGlobalTradeItemNumber" value="Pset_ManufacturerTypeInformation.GlobalTradeItemNumber;Other.GlobalTradeItemNumber"/>
    <add key="AssetTypeArticleNumber" value="Pset_ManufacturerTypeInformation.ArticleNumber;Other.ArticleNumber"/>
    <add key="AssetTypeManufacturer" value="Pset_ManufacturerTypeInformation.Manufacturer;Other.Manufacturer"/>
    <add key="AssetTypeProductionYear" value="Pset_ManufacturerTypeInformation.ProductionYear;Other.ProductionYear"/>
    <add key="AssetTypeCodePerformance" value="COBie_Specification.CodePerformance;Other.CodePerformance"/>    
    <add key="AssetTypeWarrantyDurationLabor" value="COBie_Warranty.WarrantyDurationLabor;Other.WarrantyDurationLabor"/>
    <add key="AssetTypeWarrantyDurationParts" value="COBie_Warranty.WarrantyDurationParts;Other.WarrantyDurationParts"/>
    <add key="AssetTypeWarrantyDurationUnit" value="COBie_Warranty.WarrantyDurationUnit;Other.WarrantyDurationUnit"/>
    <add key="AssetTypeWarrantyGuarantorLabor" value="COBie_Warranty.WarrantyGuarantorLabor;Other.WarrantyGuarantorLabor"/>
    <add key="AssetTypeWarrantyGuarantorParts" value="COBie_Warranty.WarrantyGuarantorParts;Other.WarrantyGuarantorParts"/>
    <add key="AssetTypeWarrantyDescription" value="COBie_Warranty.WarrantyDescription;Other.WarrantyDescription"/>
    
    <!--Asset Attributes-->
    <add key="AssetDescription" value="Other.NBSDescription"/>
    <add key="AssetSerialNumber" value="Pset_ManufacturerOccurence.SerialNumber;Pset_Component.SerialNumber;Other.SerialNumber"/>
    <add key="AssetInstallationDate" value="COBie_Component.InstallationDate;Pset_Component.InstallationDate;Other.InstallationDate"/>
    <add key="AssetInstalledModelNumber" value="COBie_Component.InstalledModelNumber;Pset_Component.InstalledModelNumber"/>
    <add key="AssetWarrantyStartDate" value="COBie_Component.WarrantyStartDate;Pset_Component.WarrantyStartDate;Other.WarrantyStartDate"/>
    <add key="AssetStartDate" value="COBie_Component.StartDate;Pset_Component.StartDate"/>
    <add key="AssetTagNumber" value="COBie_Component.TagNumber;Pset_Component.TagNumber;Other.TagNumber"/>
    <add key="AssetBarCode" value="Pset_ManufacturerOccurrence.BarCode;COBie_Component.BarCode;Pset_Component.BarCode;Other.BarCode"/>
    <add key="AssetIdentifier" value="COBie_Component.AssetIdentifier;Pset_Component.AssetIdentifier;Other.AssetIdentifier"/>
    <add key="AssetLocationDescription" value="COBie_Component.LocationDescription;Pset_Component.LocationDescription"/>
    <add key="AssetAcquisitionDate" value="Pset_ManufacturerOccurrence.AcquisitionDate"/>
    <add key="AssetBatchReference" value="Pset_ManufacturerOccurrence.BatchReference"/>
    <add key="AssetAssemblyPlace" value="Pset_ManufacturerOccurrence.AssemblyPlace"/>
    
  </COBiePropertyMaps>
  <IfcElementInclusion>
    <!--IfcElement-->
    <!--IfcBuildingElement-->
    <add key="IfcBeam" value="No"/>
    <!--IfcBuildingElementComponent-->
    <add key="IfcBuildingElementPart" value="No"/>
    <!--IfcReinforcingElement-->
    <add key="IfcReinforcingBar" value="No"/>
    <add key="IfcReinforcingMesh" value="No"/>
    <add key="IfcTendon" value="Yes"/>
    <add key="IfcTendonAnchor" value="Yes"/>
    <add key="IfcBuildingElementProxy" value="Yes"/>
    <add key="IfcChimney" value="Yes"/>
    <add key="IfcColumn" value="No"/>
    <add key="IfcCovering" value="Yes"/>
    <add key="IfcCurtainWall" value="No"/>
    <add key="IfcDoor" value="Yes"/>
    <add key="IfcDoorStandardCase" value="Yes"/>
    <!--ifc4-->
    <add key="IfcFooting" value="No"/>
    <add key="IfcMember" value="No"/>
    <add key="IfcMemberStandardCase" value="No"/>
    <!--ifc4-->
    <add key="IfcPile" value="No"/>
    <add key="IfcPlate" value="No"/>
    <add key="IfcPlateStandardCase" value="No"/>
    <!--ifc4-->
    <add key="IfcRailing" value="No"/>
    <add key="IfcRamp" value="No"/>
    <add key="IfcRampFlight" value="No"/>
    <add key="IfcRoof" value="No"/>
    <add key="IfcShadingDevice" value="Yes"/>
    <!--ifc4-->
    <add key="IfcSlab" value="No"/>
    <add key="IfcSlabElementedCase" value="No"/>
    <!--ifc4-->
    <add key="IfcSlabStandardCase" value="No"/>
    <!--ifc4-->
    <add key="IfcStair" value="No"/>
    <add key="IfcStairFlight" value="No"/>
    <add key="IfcWall" value="No"/>
    <add key="IfcWallElementedCase" value="No"/>
    <!--ifc4-->
    <add key="IfcWallStandardCase" value="No"/>
    <add key="IfcWindow" value="Yes"/>
    <add key="IfcWindowStandardCase" value="Yes"/>
    <!--ifc4-->
    <!--IfcDistributionElement-->
    <add key="IfcDistributionElement" value="Yes"/>
    <add key="IfcDistributionControlElement" value="Yes"/>
    <add key="IfcActuator" value="Yes"/>
    <add key="IfcAlarm" value="Yes"/>
    <add key="IfcController" value="Yes"/>
    <add key="IfcFlowInstrument" value="Yes"/>
    <add key="IfcProtectiveDeviceTrippingUnit" value="Yes"/>
    <add key="IfcSensor" value="Yes"/>
    <add key="IfcUnitaryControlElement" value="Yes"/>
    <add key="IfcDistributionFlowElement" value="Yes"/>
    <add key="IfcDistributionChamberElement" value="Yes"/>
    <add key="IfcEnergyConversionDevice" value="Yes"/>
    <add key="IfcAirToAirHeatRecovery" value="Yes"/>
    <add key="IfcBoiler" value="Yes"/>
    <add key="IfcBurner" value="Yes"/>
    <add key="IfcChiller" value="Yes"/>
    <add key="IfcCoil" value="Yes"/>
    <add key="IfcCondenser" value="Yes"/>
    <add key="IfcCooledBeam" value="Yes"/>
    <add key="IfcCoolingTower" value="Yes"/>
    <add key="IfcElectricGenerator" value="Yes"/>
    <add key="IfcElectricMotor" value="Yes"/>
    <add key="IfcEngine" value="Yes"/>
    <add key="IfcEvaporativeCooler" value="Yes"/>
    <add key="IfcEvaporator" value="Yes"/>
    <add key="IfcHeatExchanger" value="Yes"/>
    <add key="IfcHumidifier" value="Yes"/>
    <add key="IfcMotorConnection" value="Yes"/>
    <add key="IfcSolarDevice" value="Yes"/>
    <add key="IfcTransformer" value="Yes"/>
    <add key="IfcTubeBundle" value="Yes"/>
    <add key="IfcUnitaryEquipment" value="Yes"/>
    <add key="IfcFlowController" value="Yes"/>
    <add key="IfcAirTerminalBox" value="Yes"/>
    <add key="IfcDamper" value="Yes"/>
    <add key="IfcElectricDistributionBoard" value="Yes"/>
    <add key="IfcElectricTimeControl" value="Yes"/>
    <add key="IfcFlowMeter" value="Yes"/>
    <add key="IfcProtectiveDevice" value="Yes"/>
    <add key="IfcSwitchingDevice" value="Yes"/>
    <add key="IfcValve" value="Yes"/>
    <add key="IfcFlowFitting" value="No"/>
    <add key="IfcCableCarrierFitting" value="No"/>
    <add key="IfcCableFitting" value="No"/>
    <add key="IfcDuctFitting" value="No"/>
    <add key="IfcJunctionBox" value="No"/>
    <add key="IfcPipeFitting" value="No"/>
    <add key="IfcFlowMovingDevice" value="Yes"/>
    <add key="IfcCompressor" value="Yes"/>
    <add key="IfcFan" value="Yes"/>
    <add key="IfcPump" value="Yes"/>
    <add key="IfcFlowSegment" value="No"/>
    <add key="IfcCableCarrierSegment" value="No"/>
    <add key="IfcCableSegment" value="No"/>
    <add key="IfcDuctSegment" value="No"/>
    <add key="IfcPipeSegment" value="No"/>
    <add key="IfcFlowStorageDevice" value="Yes"/>
    <add key="IfcElectricFlowStorageDevice" value="Yes"/>
    <add key="IfcTank" value="Yes"/>
    <add key="IfcFlowTerminal" value="Yes"/>
    <add key="IfcAirTerminal" value="Yes"/>
    <add key="IfcAudioVisualAppliance" value="Yes"/>
    <add key="IfcCommunicationsAppliance" value="Yes"/>
    <add key="IfcElectricAppliance" value="Yes"/>
    <add key="IfcFireSuppressionTerminal" value="Yes"/>
    <add key="IfcLamp" value="Yes"/>
    <add key="IfcLightFixture" value="Yes"/>
    <add key="IfcMedicalDevice" value="Yes"/>
    <add key="IfcOutlet" value="Yes"/>
    <add key="IfcSanitaryTerminal" value="Yes"/>
    <add key="IfcSpaceHeater" value="Yes"/>
    <add key="IfcStackTerminal" value="Yes"/>
    <add key="IfcWasteTerminal" value="Yes"/>
    <add key="IfcFlowTreatmentDevice" value="Yes"/>
    <add key="IfcDuctSilencer" value="Yes"/>
    <add key="IfcFilter" value="Yes"/>
    <add key="IfcInterceptor" value="Yes"/>
    <add key="IfcElementAssembly" value="No"/>
    <add key="IfcElementComponent" value="Yes"/>
    <add key="IfcBuildingElementPart" value="No"/>
    <add key="IfcDiscreteAccessory" value="Yes"/>
    <add key="IfcFastener" value="No"/>
    <add key="IfcMechanicalFastener" value="No"/>
    <add key="IfcReinforcingElement" value="Yes"/>
    <add key="IfcReinforcingBar" value="No"/>
    <add key="IfcReinforcingMesh" value="No"/>
    <add key="IfcTendon" value="Yes"/>
    <add key="IfcTendonAnchor" value="Yes"/>
    <add key="IfcVibrationIsolator" value="Yes"/>
    <add key="IfcFeatureElement" value="No"/>
    <add key="IfcFeatureElementAddition" value="No"/>
    <add key="IfcProjectionElement" value="No"/>
    <add key="IfcFeatureElementSubtraction" value="No"/>
    <add key="IfcOpeningElement" value="No"/>
    <add key="IfcOpeningStandardCase" value="No"/>
    <add key="IfcVoidingFeature" value="No"/>
    <add key="IfcSurfaceFeature" value="No"/>
    <add key="IfcFurnishingElement" value="Yes"/>
    <add key="IfcFurniture" value="Yes"/>
    <add key="IfcSystemFurnitureElement" value="Yes"/>
    <add key="IfcGeographicElement" value="Yes"/>
    <add key="IfcTransportElement" value="Yes"/>
    <add key="IfcVirtualElement" value="No"/>
    <add key="IfcGrid" value="Yes"/>
    <add key="IfcPort" value="Yes"/>
    <add key="IfcDistributionPort" value="No"/>
    <add key="IfcProxy" value="Yes"/>
    <add key="IfcSpatialElement" value="No"/>
    <add key="IfcExternalSpatialStructureElement" value="No"/>
    <add key="IfcExternalSpatialElement" value="No"/>
    <add key="IfcSpatialStructureElement" value="No"/>
    <add key="IfcBuilding" value="No"/>
    <add key="IfcBuildingStorey" value="No"/>
    <add key="IfcSite" value="No"/>
    <add key="IfcSpace" value="No"/>
    <add key="IfcSpatialZone" value="No"/>
    <add key="IfcStructuralActivity" value="No"/>
    <add key="IfcStructuralAction" value="No"/>
    <add key="IfcStructuralCurveAction" value="No"/>
    <add key="IfcStructuralLinearAction" value="No"/>
    <add key="IfcStructuralPointAction" value="No"/>
    <add key="IfcStructuralSurfaceAction" value="No"/>
    <add key="IfcStructuralPlanarAction" value="No"/>
    <add key="IfcStructuralReaction" value="No"/>
    <add key="IfcStructuralCurveReaction" value="No"/>
    <add key="IfcStructuralPointReaction" value="No"/>
    <add key="IfcStructuralSurfaceReaction" value="No"/>
    <add key="IfcStructuralItem" value="No"/>
    <add key="IfcStructuralConnection" value="No"/>
    <add key="IfcStructuralCurveConnection" value="No"/>
    <add key="IfcStructuralPointConnection" value="No"/>
    <add key="IfcStructuralSurfaceConnection" value="No"/>
    <add key="IfcStructuralMember" value="No"/>
    <add key="IfcStructuralCurveMember" value="No"/>
    <add key="IfcStructuralCurveMemberVarying" value="No"/>
    <add key="IfcStructuralSurfaceMember" value="No"/>
    <add key="IfcStructuralSurfaceMemberVarying" value="No"/>
  </IfcElementInclusion>
</configuration>