<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IfcElementInclusion" type="System.Configuration.AppSettingsSection" />
    <section name="IfcTypeInclusion" type="System.Configuration.AppSettingsSection" />
    <section name="IfcAssemblyInclusion" type="System.Configuration.AppSettingsSection" />
    <section name="IfcPreDefinedTypeFilter" type="System.Configuration.AppSettingsSection" />
    <section name="ZoneFilter" type="System.Configuration.AppSettingsSection" />
    <section name="TypeFilter" type="System.Configuration.AppSettingsSection" />
    <section name="SpaceFilter" type="System.Configuration.AppSettingsSection" />
    <section name="FloorFilter" type="System.Configuration.AppSettingsSection" />
    <section name="FacilityFilter" type="System.Configuration.AppSettingsSection" />
    <section name="SpareFilter" type="System.Configuration.AppSettingsSection" />
    <section name="ComponentFilter" type="System.Configuration.AppSettingsSection" />
    <section name="CommonFilter" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <IfcElementInclusion>
    <!--IfcProduct (ABSTRACT)-->
    <add key="IfcAnnotation" value="No"/>
      <!--IfcElement (ABSTRACT)--> 
        <!--IfcBuildingElement (ABSTRACT)-->
          <add key="IfcBeam" value="No"/>
            <add key="IfcBeamStandardCase" value="No"/>     <!--ifc4-->
          <add key="IfcBuildingElementProxy" value="Yes"/>
          <add key="IfcChimney" value="Yes"/> <!--ifc4-->
          <add key="IfcColumn" value="No"/>
            <add key="IfcColumnStandardCase" value="No"/>   <!--ifc4-->
          <add key="IfcCovering" value="Yes"/>
          <add key="IfcCurtainWall" value="No"/>  
          <add key="IfcDoor" value="Yes"/>
            <add key="IfcDoorStandardCase" value="Yes"/>     <!--ifc4-->
          <add key="IfcFooting" value="No"/>
          <add key="IfcMember" value="No"/>
            <add key="IfcMemberStandardCase" value="No"/>   <!--ifc4-->
          <add key="IfcPile" value="No"/>
          <add key="IfcPlate" value="No"/>
            <add key="IfcPlateStandardCase" value="No"/>    <!--ifc4-->
          <add key="IfcRailing" value="No"/>
          <add key="IfcRamp" value="No"/>
          <add key="IfcRampFlight" value="No"/>
          <add key="IfcRoof" value="No"/>
          <add key="IfcShadingDevice" value="Yes"/>         <!--ifc4-->
          <add key="IfcSlab" value="No"/>
            <add key="IfcSlabElementedCase" value="No"/>    <!--ifc4-->
            <add key="IfcSlabStandardCase" value="No"/>     <!--ifc4-->
          <add key="IfcStair" value="No"/>
          <add key="IfcStairFlight" value="No"/>
          <add key="IfcWall" value="No"/>
            <add key="IfcWallElementedCase" value="No"/>    <!--ifc4-->
            <add key="IfcWallStandardCase" value="No"/> 
          <add key="IfcWindow" value="Yes"/>
            <add key="IfcWindowStandardCase" value="Yes"/>  <!--ifc4-->
        <!--IfcDistributionElement-->
        <add key="IfcDistributionElement" value="Yes"/>
          <add key="IfcDistributionControlElement" value="Yes"/>
            <add key="IfcActuator" value="Yes"/>          <!--ifc4-->
            <add key="IfcAlarm" value="Yes"/>             <!--ifc4-->
            <add key="IfcController" value="Yes"/>        <!--ifc4-->
            <add key="IfcFlowInstrument" value="Yes"/>    <!--ifc4-->
            <add key="IfcProtectiveDeviceTrippingUnit" value="Yes"/>    <!--ifc4-->
            <add key="IfcSensor" value="Yes"/>    <!--ifc4-->
            <add key="IfcUnitaryControlElement" value="Yes"/>     <!--ifc4-->
          <add key="IfcDistributionFlowElement" value="Yes"/>
            <add key="IfcDistributionChamberElement" value="Yes"/>
            <add key="IfcEnergyConversionDevice" value="Yes"/>
              <add key="IfcAirToAirHeatRecovery" value="Yes"/>    <!--ifc4-->
              <add key="IfcBoiler" value="Yes"/>                  <!--ifc4-->
              <add key="IfcBurner" value="Yes"/>                  <!--ifc4-->
              <add key="IfcChiller" value="Yes"/>                 <!--ifc4-->
              <add key="IfcCoil" value="Yes"/>                    <!--ifc4-->
              <add key="IfcCondenser" value="Yes"/>               <!--ifc4-->
              <add key="IfcCooledBeam" value="Yes"/>              <!--ifc4-->
              <add key="IfcCoolingTower" value="Yes"/>            <!--ifc4-->
              <add key="IfcElectricGenerator" value="Yes"/>       <!--ifc4-->
              <add key="IfcElectricMotor" value="Yes"/>           <!--ifc4-->
              <add key="IfcEngine" value="Yes"/>                  <!--ifc4-->
              <add key="IfcEvaporativeCooler" value="Yes"/>       <!--ifc4-->
              <add key="IfcEvaporator" value="Yes"/>              <!--ifc4-->
              <add key="IfcHeatExchanger" value="Yes"/>           <!--ifc4-->
              <add key="IfcHumidifier" value="Yes"/>              <!--ifc4-->
              <add key="IfcMotorConnection" value="Yes"/>         <!--ifc4-->
              <add key="IfcSolarDevice" value="Yes"/>             <!--ifc4-->
              <add key="IfcTransformer" value="Yes"/>             <!--ifc4-->
              <add key="IfcTubeBundle" value="Yes"/>              <!--ifc4-->
              <add key="IfcUnitaryEquipment" value="Yes"/>        <!--ifc4-->
            <add key="IfcFlowController" value="Yes"/>
              <add key="IfcElectricDistributionPoint" value="Yes"/>
              <add key="IfcAirTerminalBox" value="Yes"/>            <!--ifc4-->
              <add key="IfcDamper" value="Yes"/>                    <!--ifc4-->
              <add key="IfcElectricDistributionBoard" value="Yes"/> <!--ifc4-->
              <add key="IfcElectricTimeControl" value="Yes"/>       <!--ifc4-->
              <add key="IfcFlowMeter" value="Yes"/>                 <!--ifc4-->
              <add key="IfcProtectiveDevice" value="Yes"/>          <!--ifc4-->
              <add key="IfcSwitchingDevice" value="Yes"/>           <!--ifc4-->
              <add key="IfcValve" value="Yes"/>                     <!--ifc4-->
            <add key="IfcFlowFitting" value="No"/>
              <add key="IfcCableCarrierFitting" value="No"/>  <!--ifc4-->
              <add key="IfcCableFitting" value="No"/>         <!--ifc4-->
              <add key="IfcDuctFitting" value="No"/>          <!--ifc4-->
              <add key="IfcJunctionBox" value="No"/>          <!--ifc4-->
              <add key="IfcPipeFitting" value="No"/>          <!--ifc4-->
            <add key="IfcFlowMovingDevice" value="Yes"/>
              <add key="IfcCompressor" value="Yes"/>          <!--ifc4-->
              <add key="IfcFan" value="Yes"/>                 <!--ifc4-->
              <add key="IfcPump" value="Yes"/>                <!--ifc4-->
            <add key="IfcFlowSegment" value="No"/>
              <add key="IfcCableCarrierSegment" value="No"/>  <!--ifc4-->
              <add key="IfcCableSegment" value="No"/>         <!--ifc4-->
              <add key="IfcDuctSegment" value="No"/>          <!--ifc4-->
              <add key="IfcPipeSegment" value="No"/>          <!--ifc4-->
            <add key="IfcFlowStorageDevice" value="Yes"/>
              <add key="IfcElectricFlowStorageDevice" value="Yes"/> <!--ifc4-->
              <add key="IfcTank" value="Yes"/>                      <!--ifc4-->
            <add key="IfcFlowTerminal" value="Yes"/>
              <add key="IfcAirTerminal" value="Yes"/>               <!--ifc4-->
              <add key="IfcAudioVisualAppliance" value="Yes"/>      <!--ifc4-->
              <add key="IfcCommunicationsAppliance" value="Yes"/>   <!--ifc4-->
              <add key="IfcElectricAppliance" value="Yes"/>         <!--ifc4-->
              <add key="IfcFireSuppressionTerminal" value="Yes"/>   <!--ifc4-->
              <add key="IfcLamp" value="Yes"/>                      <!--ifc4-->
              <add key="IfcLightFixture" value="Yes"/>              <!--ifc4-->
              <add key="IfcMedicalDevice" value="Yes"/>             <!--ifc4-->
              <add key="IfcOutlet" value="Yes"/>                    <!--ifc4-->
              <add key="IfcSanitaryTerminal" value="Yes"/>          <!--ifc4-->
              <add key="IfcSpaceHeater" value="Yes"/>               <!--ifc4-->
              <add key="IfcStackTerminal" value="Yes"/>             <!--ifc4-->
              <add key="IfcWasteTerminal" value="Yes"/>             <!--ifc4-->
            <add key="IfcFlowTreatmentDevice" value="Yes"/>
              <add key="IfcDuctSilencer" value="Yes"/>              <!--ifc4-->
              <add key="IfcFilter" value="Yes"/>                    <!--ifc4-->
              <add key="IfcInterceptor" value="Yes"/>               <!--ifc4-->
        <add key="IfcElementAssembly" value="No"/>
        <add key="IfcElementComponent" value="Yes"/>
          <add key="IfcBuildingElementPart" value="No"/>
          <add key="IfcDiscreteAccessory" value="Yes"/>
          <add key="IfcFastener" value="No"/>
          <add key="IfcMechanicalFastener" value="No"/>
          <add key="IfcReinforcingElement" value="Yes"/>
            <add key="IfcReinforcingBar" value="No"/>
            <add key="IfcReinforcingMesh" value="No"/>
            <add key="IfcTendon" value="Yes"/>
            <add key="IfcTendonAnchor" value="Yes"/>
          <add key="IfcVibrationIsolator" value="Yes"/>             <!--ifc4-->
        <add key="IfcFeatureElement" value="No"/>
          <add key="IfcFeatureElementAddition" value="No"/>
            <add key="IfcProjectionElement" value="No"/>
          <add key="IfcFeatureElementSubtraction" value="No"/>
            <add key="IfcEdgeFeature" value="No"/>
            <add key="IfcChamferEdgeFeature" value="No"/>
            <add key="IfcRoundedEdgeFeature" value="No"/>
            <add key="IfcOpeningElement" value="No"/>
            <add key="IfcOpeningStandardCase" value="No"/>          <!--ifc4-->
            <add key="IfcVoidingFeature" value="No"/>               <!--ifc4-->
          <add key="IfcSurfaceFeature" value="No"/>                 <!--ifc4-->
        <add key="IfcFurnishingElement" value="Yes"/>
          <add key="IfcFurniture" value="Yes"/>                     <!--ifc4-->
          <add key="IfcSystemFurnitureElement" value="Yes"/>        <!--ifc4-->
        <add key="IfcGeographicElement" value="Yes"/>               <!--ifc4-->
        <add key="IfcTransportElement" value="Yes"/>
        <add key="IfcVirtualElement" value="No"/>
      <add key="IfcGrid" value="Yes"/>
      <add key="IfcPort" value="Yes"/>
        <add key="IfcDistributionPort" value="No"/>
      <add key="IfcProxy" value="Yes"/>
      <add key="IfcSpatialElement" value="No"/>                     <!--ifc4-->
        <add key="IfcExternalSpatialStructureElement" value="No"/>  <!--ifc4-->
          <add key="IfcExternalSpatialElement" value="No"/>         <!--ifc4-->
        <add key="IfcSpatialStructureElement" value="No"/>
          <add key="IfcBuilding" value="No"/>
          <add key="IfcBuildingStorey" value="No"/>
          <add key="IfcSite" value="No"/>
          <add key="IfcSpace" value="No"/>
        <add key="IfcSpatialZone" value="No"/>                    <!--ifc4-->
      <add key="IfcStructuralActivity" value="No"/>
        <add key="IfcStructuralAction" value="No"/>
          <add key="IfcStructuralCurveAction" value="No"/>        <!--ifc4-->
            <add key="IfcStructuralLinearAction" value="No"/>
              <add key="IfcStructuralLinearActionVarying" value="No"/>
          <add key="IfcStructuralPointAction" value="No"/>
          <add key="IfcStructuralSurfaceAction" value="No"/>      <!--ifc4-->
            <add key="IfcStructuralPlanarAction" value="No"/>
              <add key="IfcStructuralPlanarActionVarying" value="No"/>
        <add key="IfcStructuralReaction" value="No"/>
          <add key="IfcStructuralCurveReaction" value="No"/>      <!--ifc4-->
          <add key="IfcStructuralPointReaction" value="No"/>
          <add key="IfcStructuralSurfaceReaction" value="No"/>    <!--ifc4-->
      <add key="IfcStructuralItem" value="No"/>
        <add key="IfcStructuralConnection" value="No"/>
          <add key="IfcStructuralCurveConnection" value="No"/>
          <add key="IfcStructuralPointConnection" value="No"/>
          <add key="IfcStructuralSurfaceConnection" value="No"/>
        <add key="IfcStructuralMember" value="No"/>
          <add key="IfcStructuralCurveMember" value="No"/>
          <add key="IfcStructuralCurveMemberVarying" value="No"/>
          <add key="IfcStructuralSurfaceMember" value="No"/>
          <add key="IfcStructuralSurfaceMemberVarying" value="No"/>
  </IfcElementInclusion>
  <IfcTypeInclusion>
    <add key="IfcTypeObject" value="No"/>
      <add key="IfcTypeProcess" value="No"/>                    <!--ifc4-->
        <add key="IfcEventType" value="No"/>                    <!--ifc4-->
        <add key="IfcProcedureType" value="No"/>                <!--ifc4-->
        <add key="IfcTaskType" value="No"/>                     <!--ifc4-->
      <add key="IfcTypeProduct" value="No"/>
        <add key="IfcDoorStyle" value="Yes"/>
        <add key="IfcElementType" value="No"/>
          <add key="IfcBuildingElementType" value="Yes"/>
            <add key="IfcBeamType" value="No"/>
            <add key="IfcBuildingElementProxyType" value="Yes"/>
            <add key="IfcChimneyType" value="Yes"/>             <!--ifc4-->
            <add key="IfcColumnType" value="No"/>
            <add key="IfcCoveringType" value="Yes"/>
            <add key="IfcCurtainWallType" value="No"/>
            <add key="IfcDoorType" value="Yes"/>                <!--ifc4 replaces IfcDoorStyle-->
            <add key="IfcFootingType" value="Yes"/>             <!--ifc4-->
            <add key="IfcMemberType" value="No"/>
            <add key="IfcPileType" value="Yes"/>                <!--ifc4-->
            <add key="IfcPlateType" value="No"/>
            <add key="IfcRailingType" value="No"/>
            <add key="IfcRampFlightType" value="No"/>
            <add key="IfcRampType" value="No"/>                 <!--ifc4-->
            <add key="IfcRoofType" value="Yes"/>                <!--ifc4-->
            <add key="IfcShadingDeviceType" value="Yes"/>       <!--ifc4-->
            <add key="IfcSlabType" value="No"/>
            <add key="IfcStairFlightType" value="No"/>
            <add key="IfcStairType" value="No"/>                <!--ifc4-->
            <add key="IfcWallType" value="No"/>
            <add key="IfcWindowType" value="Yes"/>              <!--ifc4 replaces IfcWindowStyle-->
          <add key="IfcDistributionElementType" value="Yes"/>
            <add key="IfcDistributionControlElementType" value="Yes"/>
              <add key="IfcActuatorType" value="Yes"/>
              <add key="IfcAlarmType" value="Yes"/>
              <add key="IfcControllerType" value="Yes"/>
              <add key="IfcFlowInstrumentType" value="Yes"/>
              <add key="IfcProtectiveDeviceTrippingUnitType" value="Yes"/><!--ifc4-->
              <add key="IfcSensorType" value="Yes"/>
              <add key="IfcUnitaryControlElementType" value="Yes"/>       <!--ifc4-->
            <add key="IfcDistributionFlowElementType" value="Yes"/>
              <add key="IfcDistributionChamberElementType" value="Yes"/>
              <add key="IfcEnergyConversionDeviceType" value="Yes"/>
                <add key="IfcAirToAirHeatRecoveryType" value="Yes"/>
                <add key="IfcBoilerType" value="Yes"/>
                <add key="IfcBurnerType" value="Yes"/>            <!--ifc4-->
                <add key="IfcChillerType" value="Yes"/>
                <add key="IfcCoilType" value="Yes"/>
                <add key="IfcCondenserType" value="Yes"/>
                <add key="IfcCooledBeamType" value="Yes"/>
                <add key="IfcCoolingTowerType" value="Yes"/>
                <add key="IfcElectricGeneratorType" value="Yes"/>
                <add key="IfcElectricMotorType" value="Yes"/>
                <add key="IfcEngineType" value="Yes"/>            <!--ifc4-->
                <add key="IfcEvaporativeCoolerType" value="Yes"/>
                <add key="IfcEvaporatorType" value="Yes"/>
                <add key="IfcHeatExchangerType" value="Yes"/>
                <add key="IfcHumidifierType" value="Yes"/>
                <add key="IfcMotorConnectionType" value="Yes"/>
                <add key="IfcSolarDeviceType" value="Yes"/>       <!--ifc4-->
                <add key="IfcTransformerType" value="Yes"/>
                <add key="IfcTubeBundleType" value="Yes"/>
                <add key="IfcUnitaryEquipmentType" value="Yes"/>
              <add key="IfcFlowControllerType" value="Yes"/>
                <add key="IfcAirTerminalBoxType" value="Yes"/>
                <add key="IfcDamperType" value="Yes"/>
                <add key="IfcElectricDistributionBoardType" value="Yes"/> <!--ifc4-->
                <add key="IfcElectricTimeControlType" value="Yes"/>
                <add key="IfcFlowMeterType" value="Yes"/>
                <add key="IfcProtectiveDeviceType" value="Yes"/>
                <add key="IfcSwitchingDeviceType" value="Yes"/>
                <add key="IfcValveType" value="Yes"/>
              <add key="IfcFlowFittingType" value="No"/>
                <add key="IfcCableCarrierFittingType" value="No"/>
                <add key="IfcCableFittingType" value="No"/>                <!--ifc4-->
                <add key="IfcDuctFittingType" value="No"/>
                <add key="IfcJunctionBoxType" value="No"/>
                <add key="IfcPipeFittingType" value="No"/>
              <add key="IfcFlowMovingDeviceType" value="Yes"/>
                <add key="IfcCompressorType" value="Yes"/>
                <add key="IfcFanType" value="Yes"/>
                <add key="IfcPumpType" value="Yes"/>
              <add key="IfcFlowSegmentType" value="No"/>
                <add key="IfcCableCarrierSegmentType" value="No"/>
                <add key="IfcCableSegmentType" value="No"/>                 
                <add key="IfcDuctSegmentType" value="No"/>
                <add key="IfcPipeSegmentType" value="No"/>
              <add key="IfcFlowStorageDeviceType" value="Yes"/>
                <add key="IfcElectricFlowStorageDeviceType" value="Yes"/>
                <add key="IfcTankType" value="Yes"/>
              <add key="IfcFlowTerminalType" value="Yes"/>
                <add key="IfcAirTerminalType" value="Yes"/>
                <add key="IfcAudioVisualApplianceType" value="Yes"/>          <!--ifc4-->
                <add key="IfcCommunicationsApplianceType" value="Yes"/>       <!--ifc4-->
                <add key="IfcElectricApplianceType" value="Yes"/>
                <add key="IfcElectricHeaterType" value="Yes"/>
                <add key="IfcFireSuppressionTerminalType" value="Yes"/>
                <add key="IfcGasTerminalType" value="Yes"/>
                <add key="IfcLampType" value="Yes"/>
                <add key="IfcLightFixtureType" value="Yes"/>
                <add key="IfcMedicalDeviceType" value="Yes"/>                 <!--ifc4-->
                <add key="IfcOutletType" value="Yes"/>
                <add key="IfcSanitaryTerminalType" value="Yes"/>
                <add key="IfcSpaceHeaterType" value="Yes"/>
                <add key="IfcStackTerminalType" value="Yes"/>
                <add key="IfcWasteTerminalType" value="Yes"/>
              <add key="IfcFlowTreatmentDeviceType" value="Yes"/>
                <add key="IfcDuctSilencerType" value="Yes"/>
                <add key="IfcFilterType" value="Yes"/>
                <add key="IfcInterceptorType" value="Yes"/>                   <!--ifc4-->
            <add key="IfcElementAssemblyType" value="Yes"/>                   <!--ifc4-->
            <add key="IfcElementComponentType" value="Yes"/>
              <add key="IfcBuildingElementPartType" value="Yes"/>             <!--ifc4-->
              <add key="IfcDiscreteAccessoryType" value="Yes"/>
              <add key="IfcFastenerType" value="No"/>
              <add key="IfcMechanicalFastenerType" value="Yes"/>
              <add key="IfcReinforcingElementType" value="Yes"/>              <!--ifc4-->
                <add key="IfcReinforcingBarType" value="Yes"/>                <!--ifc4-->
                <add key="IfcReinforcingMeshType" value="Yes"/>               <!--ifc4-->
                <add key="IfcTendonAnchorType" value="Yes"/>                  <!--ifc4-->
                <add key="IfcTendonType" value="Yes"/>                        <!--ifc4-->
              <add key="IfcVibrationIsolatorType" value="Yes"/>
            <add key="IfcFurnishingElementType" value="Yes"/>
              <add key="IfcFurnitureType" value="Yes"/>
              <add key="IfcSystemFurnitureElementType" value="Yes"/>
            <add key="IfcGeographicElementType" value="Yes"/>                 <!--ifc4-->
            <add key="IfcTransportElementType" value="Yes"/>
          <add key="IfcSpatialElementType" value="No"/>                       <!--ifc4-->
            <add key="IfcSpatialStructureElementType" value="No"/>
              <add key="IfcSpaceType" value="No"/>
          <add key="IfcSpatialZoneType" value="Yes"/>                         <!--ifc4-->
    <add key="IfcWindowStyle" value="Yes"/>
  </IfcTypeInclusion>
  <!--PreDefindedType Enum Excludes mapped to IfcTypeObject-->
  <IfcPreDefinedTypeFilter>
    <add key="ifcSensorType" value="CONDUCTANCESENSOR;CONTACTSENSOR;FLOWSENSOR;GASSENSOR;HUMIDITYSENSOR;LEVELSENSOR;LIGHTSENSOR;MOISTURESENSOR;MOVEMENTSENSOR;PHSENSOR;PRESSURESENSOR;RADIATIONSENSOR;RADIOACTIVITYSENSOR;TEMPERATURESENSOR;WINDSENSOR"/>
  </IfcPreDefinedTypeFilter>
  <IfcAssemblyInclusion>
    <add key="IfcSite" value="No"/>
    <add key="IfcProject" value="No"/>
    <add key="IfcBuilding" value="No"/>
    <add key="IfcBuildingStorey" value="No"/>
  </IfcAssemblyInclusion>
  <!--Property set exclude selection filters for attributes, used only on cobie data display, probably wrong place to set, but here for now-->
  <ZoneFilter>
    <add key="EqualTo" value=""/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width;Height"/>
    <add key="PropertySetsEqualTo" value=""/>
  </ZoneFilter>
  <TypeFilter>
    <add key="EqualTo" value="SustainabilityPerformanceCodePerformance;AccessibilityPerformance;Features;Constituents;Material;Grade;Finish;Color;Size;Shape;ModelReference;NominalHeight;NominalWidth;NominalLength;WarrantyName;WarrantyDescription;DurationUnit;ServiceLifeType;ServiceLifeDuration;ExpectedLife;LifeCyclePhase;Cost;ReplacementCost;WarrantyDurationUnit;WarrantyDurationLabor;WarrantyGuarantorLabor;WarrantyDurationParts;WarrantyGuarantorParts;ModelLabel;ModelNumber;Manufacturer;IsFixed;AssetType;CodePerformance;SustainabilityPerformance;PointOfContact;Colour;Regulation;Environmental"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;GSA BIM Area"/>
    <add key="PropertySetsEqualTo" value="BaseQuantities"/>
  </TypeFilter>
  <SpaceFilter>
    <add key="EqualTo" value="Area;Number;UsableHeight;RoomTag;Room Tag;Tag;Room_Tag;FinishCeilingHeight"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="ZoneName;Category;Length;Width;GrossFloorArea;GSA;NetFloorArea"/>
    <add key="PropertySetsEqualTo" value="BaseQuantities"/>
  </SpaceFilter>
  <FloorFilter>
    <add key="EqualTo" value="Name;Color;Colour;Automatic Room Computation Height;Elevation;Storey Height"/><!--moved to common;Symbol at End 1 Default;Symbol at End 2 Default;Line Weight-->
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width"/>
    <add key="PropertySetsEqualTo" value=""/>
  </FloorFilter>
  <FacilityFilter>
    <add key="EqualTo" value="Phase"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width;Height"/>
    <add key="PropertySetsEqualTo" value=""/>
  </FacilityFilter>
  <SpareFilter>
    <add key="EqualTo" value="Suppliers"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Suppliers"/>
    <add key="PropertySetsEqualTo" value=""/>
  </SpareFilter>
  <ComponentFilter>
    <add key="EqualTo" value="Circuit NumberSystem Type;System Name;AssetIdentifier;BarCode;TagNumber;WarrantyStartDate;InstallationDate;SerialNumber"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;GSA BIM Area;Length;Height;Render Appearance;Arrow at End"/>
    <add key="PropertySetsEqualTo" value=""/>
  </ComponentFilter>
  <CommonFilter>
    <add key="EqualTo" value="MethodOfMeasurement;Omniclass Number;Assembly Code;Assembly Description;Uniclass Description;Uniclass Code;Category Code;Category Description;Classification Description;Classification Code;Name;Description;Hot Water Radius;Host;Limit Offset;Recepticles;Mark;Workset;Keynote;VisibleOnPlan;Edited by;Elevation Base;Phase;Phase Created;Window Inset;Symbol;Line Pattern;Roomtag;Upper Limit;Base Offset;Symbol at End 1 Default;Symbol at End 2 Default;Line Weight"/>
    <add key="StartWith" value="Omniclass Title;Half Oval;Level;Outside Diameter;Outside Radius;Moves With;Width"/>
    <add key="Contain" value="AssetAccountingType;GSA BIM Area;Height;Length;Size;Lighting Calculation Workplan;Offset;Omniclass;Radius;Zone"/>
    <add key="PropertySetsEqualTo" value=""/>
  </CommonFilter>
</configuration>