<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
   <section name="IfcAssemblyInclusion" type="System.Configuration.AppSettingsSection" />
    <section name="ZoneFilter" type="System.Configuration.AppSettingsSection" />
    <section name="TypeFilter" type="System.Configuration.AppSettingsSection" />
    <section name="SpaceFilter" type="System.Configuration.AppSettingsSection" />
    <section name="FloorFilter" type="System.Configuration.AppSettingsSection" />
    <section name="FacilityFilter" type="System.Configuration.AppSettingsSection" />
    <section name="SpareFilter" type="System.Configuration.AppSettingsSection" />
    <section name="ComponentFilter" type="System.Configuration.AppSettingsSection" />
    <section name="CommonFilter" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <IfcAssemblyInclusion>
    <add key="IfcSite" value="No"/>
    <add key="IfcProject" value="No"/>
    <add key="IfcBuilding" value="No"/>
    <add key="IfcBuildingStorey" value="No"/>
  </IfcAssemblyInclusion>
  <!--Property set exclude selection filters for attributes, used only on cobie data display, probably wrong place to set, but here for now-->
  <ZoneFilter>
    <add key="EqualTo" value=""/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width;Height"/>
    <add key="PropertySetsEqualTo" value=""/>
  </ZoneFilter>
  <TypeFilter>
    <add key="EqualTo" value="SustainabilityPerformanceCodePerformance;AccessibilityPerformance;Features;Constituents;Material;Grade;Finish;Color;Size;Shape;ModelReference;NominalHeight;NominalWidth;NominalLength;WarrantyName;WarrantyDescription;DurationUnit;ServiceLifeType;ServiceLifeDuration;ExpectedLife;LifeCyclePhase;Cost;ReplacementCost;WarrantyDurationUnit;WarrantyDurationLabor;WarrantyGuarantorLabor;WarrantyDurationParts;WarrantyGuarantorParts;ModelLabel;ModelNumber;Manufacturer;IsFixed;AssetType;CodePerformance;SustainabilityPerformance;PointOfContact;Colour;Regulation;Environmental"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;GSA BIM Area"/>
    <add key="PropertySetsEqualTo" value="BaseQuantities"/>
  </TypeFilter>
  <SpaceFilter>
    <add key="EqualTo" value="Area;Number;UsableHeight;RoomTag;Room Tag;Tag;Room_Tag;FinishCeilingHeight"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="ZoneName;Category;Length;Width;GrossFloorArea;GSA;NetFloorArea"/>
    <add key="PropertySetsEqualTo" value="BaseQuantities"/>
  </SpaceFilter>
  <FloorFilter>
    <add key="EqualTo" value="Name;Line Weight;Color;Colour;Symbol at End 1 Default;Symbol at End 2 Default;Automatic Room Computation Height;Elevation;Storey Height"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width"/>
    <add key="PropertySetsEqualTo" value=""/>
  </FloorFilter>
  <FacilityFilter>
    <add key="EqualTo" value="Phase"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;Tag;GSA BIM Area;Length;Width;Height"/>
    <add key="PropertySetsEqualTo" value=""/>
  </FacilityFilter>
  <SpareFilter>
    <add key="EqualTo" value="Suppliers"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Suppliers"/>
    <add key="PropertySetsEqualTo" value=""/>
  </SpareFilter>
  <ComponentFilter>
    <add key="EqualTo" value="Circuit NumberSystem Type;System Name;AssetIdentifier;BarCode;TagNumber;WarrantyStartDate;InstallationDate;SerialNumber"/>
    <add key="StartWith" value=""/>
    <add key="Contain" value="Roomtag;RoomTag;GSA BIM Area;Length;Height;Render Appearance;Arrow at End"/>
    <add key="PropertySetsEqualTo" value=""/>
  </ComponentFilter>
  <CommonFilter>
    <add key="EqualTo" value="MethodOfMeasurement;Omniclass Number;Assembly Code;Assembly Description;Uniclass Description;Uniclass Code;Category Code;Category Description;Classification Description;Classification Code;Name;Description;Hot Water Radius;Host;Limit Offset;Recepticles;Mark;Workset;Keynote;VisibleOnPlan;Edited by;Elevation Base;Phase;Phase Created;Window Inset;Symbol;Line Pattern;Roomtag;Upper Limit;Base Offset"/>
    <add key="StartWith" value="Omniclass Title;Half Oval;Level;Outside Diameter;Outside Radius;Moves With;Width"/>
    <add key="Contain" value="AssetAccountingType;GSA BIM Area;Height;Length;Size;Lighting Calculation Workplan;Offset;Omniclass;Radius;Zone"/>
    <add key="PropertySetsEqualTo" value=""/>
  </CommonFilter>
</configuration>